@tailwind base;
@tailwind components;
@tailwind utilities;


[type='password'] {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
}
[type='password']:focus {
    --tw-ring-offset-width :-2px !important
}
[type='email'] {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
}
[type='email']:focus {
    --tw-ring-offset-width :-2px !important
}
[type='date'] {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
}
[type='date']:focus {
    --tw-ring-offset-width :-2px !important
}
select{
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
}
select:focus{
    --tw-ring-offset-width :-2px !important
}
textarea{
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
}
textarea:focus{
    --tw-ring-offset-width :-2px !important
}